# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
.pytest_cache/

# Node
node_modules/
.next/
out/
npm-debug.log*

# Env
.env
.env.local
*.env.*.local

# Docker volumes
infra/docker/pgdata/
infra/docker/minio-data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Alembic
apps/api/alembic/__pycache__/

# Logs
*.log
